* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sideBarChatsContainerPrincipal{
    width: 100%;
    height: 94%;
    display: flex;
    margin-top: 30%;
    position: absolute;
    flex-direction: column;
    background-color: white;
}

.sideBarChats {
    height: 78px;
    overflow-y: auto;
    
}
